{
  "openapi": "3.1.0",
  "info": {
    "title": "Agent Meter",
    "version": "1.0.0",
    "description": "Can I pay this address? Buy looks_20 pack ($0.20) or look $0.10. Stamp ticket $0.05. No inbox. Base USDC (EIP-3009 exact) to 0xc5df91Fd7D9578A63efe9B0ee96Bacc5e7742E98. Solana USDC to 49QioAKPzo1Vij2jxdMqSR72cCZbqz2vAQSzrtt1S3nR. Human App is separate."
  },
  "servers": [
    {
      "url": "https://agent-control.net"
    }
  ],
  "paths": {
    "/api/v1/meter/pricing": {
      "get": {
        "summary": "Public Meter catalog",
        "description": "Can I pay this address? Buy looks_20 pack ($0.20) or look $0.10. Stamp ticket $0.05. Default sku look. Paid sku looks_20.",
        "responses": {
          "200": {
            "description": "Catalog. default_sku is look. paid_sku is looks_20. funds.pay_to is locked."
          }
        }
      }
    },
    "/api/v1/meter/pass": {
      "get": {
        "summary": "Pass probe / challenge",
        "description": "Same 402 Payment-Required as empty POST (default sku looks_20 $0.20). Probe/challenge only. POST remains the canonical buy. Buy looks_20 pack ($0.20) or look $0.10. Stamp ticket $0.05.",
        "responses": {
          "402": {
            "description": "PAYMENT-REQUIRED header + looks_20 invoice body + extensions.bazaar."
          }
        }
      },
      "post": {
        "summary": "Look door",
        "description": "Empty body {} invoices looks_20 $0.20 pack. Optional {\"sku\":\"look\"} is $0.10 one-shot. Buy looks_20 pack ($0.20) or look $0.10. Stamp ticket $0.05. No release without payment. free_looks is 0. A scan without a paid pass returns 402.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sku": {
                    "type": "string",
                    "enum": [
                      "look",
                      "looks_20",
                      "addresses_100",
                      "stamp_tx"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pass issued after proof or a prior payment watch."
          },
          "402": {
            "description": "Prefer Base USDC (EIP-3009 exact) to the locked base_pay_to (CDP/AgentKit; no Solana key). Optional Solana USDC to payTo. Buy looks_20 pack ($0.20) or look $0.10. Stamp ticket $0.05."
          }
        }
      }
    },
    "/api/v1/meter/scan": {
      "post": {
        "summary": "Can I pay this address?",
        "description": "Buy looks_20 pack ($0.20) or look $0.10. Stamp ticket $0.05. Header X-Agent-Pass. No free looks.",
        "parameters": [
          {
            "name": "X-Agent-Pass",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "chain",
                  "address"
                ],
                "properties": {
                  "chain": {
                    "type": "string",
                    "enum": [
                      "solana",
                      "ethereum",
                      "base"
                    ]
                  },
                  "address": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "risk ok|new|warn|sink. Never hold."
          },
          "402": {
            "description": "Buy looks_20 pack ($0.20) or look $0.10. Stamp ticket $0.05."
          }
        }
      }
    },
    "/api/v1/gate/demo": {
      "get": {
        "summary": "Dogfood merchant stamp gate",
        "description": "Header X-Stamp-Id. No verified allow stamp → 402 stamp_tx $0.05. verified true and decision allow → 200. Does not mint an invoice. Take this ticket or we do not take your USDC.",
        "parameters": [
          {
            "name": "X-Stamp-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Gate open. ok true. No secrets."
          },
          "402": {
            "description": "Buy stamp_tx $0.05, mint an allow stamp, retry with X-Stamp-Id."
          }
        }
      },
      "post": {
        "summary": "Dogfood merchant stamp gate",
        "description": "Same as GET. Header X-Stamp-Id. stamp_tx $0.05.",
        "parameters": [
          {
            "name": "X-Stamp-Id",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Gate open. ok true. No secrets."
          },
          "402": {
            "description": "Buy stamp_tx $0.05, mint an allow stamp, retry with X-Stamp-Id."
          }
        }
      }
    }
  }
}
